<h2>Homework 4: Like Component</h2>
<like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"
></like>

<hr><h2>Directives</h2>
<h3>1. *ngIf</h3>
<!--If any courses want to render, else display message no courses yet
  To do this we will use ng-if directive
  Remember: we use directives to modify the DOM
    Type1: Structural: Modify the structure of the DOM
    Type2: Attribute: Modify the attributes of DOM elements
-->
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  List of courses...
</ng-template>
<ng-template #noCourses>
  No courses available yet
</ng-template>

<hr><h3>2. Hidden Property</h3>
<!--If using a large tree with many DOM elements, better to use *ngIf
  B/c both elements below are rendered by the DOM and would decrease performance
  Note - there are some exceptions:
    Small element tree - doesn't matter which you choose
    Large element tree - if building tree is costly then use hidden else use *ngIf
-->
<div [hidden]="courses.length == 0">List of courses...</div>
<div [hidden]="courses.length > 0">No courses...</div>

<hr><h3>3. *ngSwitchCase</h3>
<app-ng-switch-case></app-ng-switch-case>

<hr><h3>4. ngFor, Change Detection, and Trackby</h3>
<app-ng-for></app-ng-for>

<hr><h3>5. The Leading Asterisk</h3>
<p>1. When angular sees the leading *, it is telling angular to rewrite the block using the ng-template </p>
<p>2. Going to use "*ngIf" to bind the ng-template</p>
<p>3. Lesson: when we use leading * with structural directives, angular is going to rewrite the block using a ng-template</p>
<div *ngIf="courses.length > 0; else noCourses">
  List of courses
</div>
<!--Verses-->
<ng-template [ngIf]="courses.length > 0">
  <div>List of courses...</div>
</ng-template>
<ng-template [ngIf]="!(courses.length > 0)">
  No Courses
</ng-template>

<hr><h3>6. ngClass</h3>
<app-ng-class></app-ng-class>

<hr><h3>7. ngStyle</h3>
<app-ng-style></app-ng-style>

<hr><h3>8. Safe Traversal Order</h3>
<app-safe-traversal-operator></app-safe-traversal-operator>

<hr><h3>9. Custom Directives</h3>
<app-custom-directives></app-custom-directives>