<!--Need to use these two for template driven approach: ngModel name="firstName"
#firstName="ngModel" sets the template variable
        When Angular sees this it sets the ngModel directive that is applied to this input field
-->
<!-- No attributes <form> then angular atomatically adds the ngForm Directive - https://angular.io/api/forms/NgForm-->
<form #f="ngForm" (ngSubmit)="submit(f)"> 
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="!contact.valid && contact.touched">... all errors for group ...</div>
        <div class="form-group">
            <label for="firstName">First Name</label>
             <input
                required 
                minlength="4" 
                maxlength="10" 
                pattern="banana" 
                ngModel 
                name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName)" 
                id="firstName" 
                type="text" 
                class="form-control">
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">
                    First name is required
                </div>
                <div *ngIf="firstName.errors.minlength">
                    First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters
                </div>
                <div *ngIf="firstName.errors.pattern">
                    First Name doesn't match pattern
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <div class="checkbox">
        <label for="">
            <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
        </label>
    </div>

    <div class='form-group'>
        <label for="contactMethod">Contact Method</label>
        <!-- Add the word multiple before ngModel to allow users to select more than one option -->
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <!-- if want to send object to server use: [ngValue]="method" instead of [value]="method.id"-->
            <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>
        </select>
    </div>     

    <p>{{f.value | json}}</p> <!-- can use to diagnose code -->

    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>    
</form>