<!-- Templates are bundled with our source code (main.bundle.js)
    That's why we don't see requests in the inspector tool (network) to templates
    No seperate requests to server to download these templates
-->
<h1>Building Reusable Components</h1>

<!-- TO make a component re-usable we want to add:
    input and output properties for the component
    These make up the Public API of the component
-->
<app-favorite 
    [is-favorite]="post.isFavorite" 
    (change)="onFavoriteChanged($event)">
</app-favorite>
